body
{
  background-color: #021966;
}
 l500
{
 color: #ffbe00;
 font-size: 15px;
 font-style: italic;
 position: absolute;
   left: 190px;
   top: 20px;
}
 b
{
  position: absolute;
   right: 45px;
   top: 10px;
}
 l897
{
 position: absolute;
   left: 955px;
   top: 10px;
}
 l
{
 position: absolute;
   left: 200px;
   top: 150px;
}
 l1
{
 color: #037e11;
 position: absolute;
   left: 250px;
   top: 650px;
}
 a
{
 text-decoration: none;
 color: #037e11;
}
 a:hover
{
 text-decoration: underline;
 color: #a3f8c3;
}
 l090
{
 position: absolute;
   right: 55px;
   top: 800px;
}
 l19
{
 position: absolute;
   left: 35%;
   top: 84.4%;
}
 l20
{
 color: #0a4504;
 font-weight: bold;
 text-decoration: underline;
 position: absolute;
   left: 37.7%;
   top: 86.7%;
}
 l21
{
 color: #0d6113;
 font-size: 13px;
 font-weight: bold;
 text-decoration: underline;
 position: absolute;
   left: 37.7%;
   top: 89.5%;
}
 l22
{
 color: #0d6113;
 font-size: 13px;
 font-weight: bold;
 position: absolute;
   left: 40%;
   top: 96%;
}
